.home-wrapper .banner .banner-conent .hero img{
  margin-top: -2rem !important;
  margin-bottom: -1.5rem !important;
}

.home-wrapper .banner .banner-conent .hero .action-button{
  margin-top: 2rem;
}

.home-wrapper .banner .banner-conent .features{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.right-menu-wrapper .right-menu-content .right-menu-item.level3{
  padding-left: 37px !important;
}