// 主题调色板

// 原主题预设变量
// 颜色
// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961
// 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px
// 代码块
// $lineNumbersWrapperWidth = 3.5rem

//***vdoing主题-变量***//

// 颜色

$bannerTextColor = #fff // 首页banner区(博客标题)文本颜色
$accentColor = #11A8CD
$activeColor = #ff5722
$arrowBgColor = #ccc
// 放弃使用
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 18rem
$contentWidth = 860px
$homePageWidth = 1100px
$rightMenuWidth = 230px // 右侧菜单

// 代码块
$lineNumbersWrapperWidth = 2.5rem

// 深色模式
.theme-mode-dark
  --bodyBg: #22272e;
  --mainBg: #22272e;
  --sidebarBg: rgba(30,30,34,.8)
  --blurBg: rgba(30,30,34,.8)
  --customBlockBg: rgb(39,39,43)
  --textColor: #adbac7;
  --textLightenColor: #8b9eb0;
  --borderColor: #2C2C3A
  --borderColor: #30363d
  --codeBg: #252526
  --codeColor: #fff
  codeThemeDark()

.theme-style-line.theme-mode-dark
  --bodyBg: rgba(30,30,34,1)