body {
    background-color: #000000;
}

.ui.header > .image:not(.icon), .ui.header > img {
    width: 30em;
    margin-top: -8em;
    margin-bottom: -8em;
}

h2.ui.header .sub.header {
    margin-top: 20px;
}


.ui.fullscreen.modal {
    left: auto !important;
}

.ui.fullscreen.scrolling.modal {
    left: auto !important;
}

.ui.form .field > label {
    margin-top: 1em;
    margin-bottom: 1em;
}

.http.two.fields {
    display: none;
}

.socks.two.fields {
    display: none;
}

.proxy.two.fields {
    margin-top: 2em;
    margin-bottom: 2em;
}

.ui.success.message {
    margin-top: 2em;
}

.ui.error.message {
    margin-top: 2em;
}


.ui.inverted.segment {
    height: 1em;
    background: #000000;
}